.container {
  margin: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #83828b;
  height: 100vh;

  h2 {
    margin: 0;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.75rem;
    font-family: Karla;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    background-color: #1c1525;
    height: 100%;
    width: 100%;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 100%;
    background-color: #f1f0d7;
    color: #1c1525;
  }
}

@media screen and (max-width: 768px) {
  .container.left {
    height: 100vh;
  }

  .container {
    margin: 0;
    // padding: 0 3rem;

    .left {
      margin: 0;
      height: 100%;

      &__wrapper {
        h2 {
          margin: 0;
        }
      }
    }

    .right {
      display: none;
    }
  }
}
