.home {
  margin: 0 4rem;
  height: 100vh;
  background-color: #1c1525;
  padding: 6rem;

  .Typewriter__wrapper {
    position: relative;
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    font-family: Karla;
    color: #d3d3d3;
  }

  .Typewriter__cursor {
    font-size: 5rem;
    color: #d3d3d3;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  // TODO ändra mobil
  &__icons {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .icon {
      margin-top: 2rem;
      opacity: 0; /* Initially hide the icons */
      animation: rollIn 1.5s 1.5s forwards; /* Added a delay of 1 second */
      position: relative; /* Necessary for the animation to take effect */

      @keyframes rollIn {
        0% {
          transform: translateX(-100px) rotate(-360deg);
          opacity: 0;
        }
        100% {
          transform: translateX(0px) rotate(0deg);
          opacity: 1;
        }
      }

      img {
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    margin: 0;
    padding: 4rem;

    .Typewriter__wrapper {
      font-size: 3rem;
    }

    .Typewriter__cursor {
      font-size: 3rem;
    }

    &__text {
      &--description {
        font-size: 1.25rem;
      }
    }

    &__icons {
      .icon {
        font-size: 4rem;
      }
    }
  }
}
