@font-face {
  font-family: 'Eugusto';
  src: local('Eugusto'), url(./assets/fonts/Eugusto.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Karla';
  src: local('Karla'), url(./assets/fonts/Karla.ttf) format('truetype');
}

body {
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: Karla;
  background-color: #000000;
  color: #d3d3d3;
  text-align: center;
  /* Dark purple #40445a */

  /* display: block; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
